@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@import helper._
@(propertyForm: Form[UserProperty],userData:User)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <title>ChangeProperty</title>
    </head>

    <body>
        <div class="container">
            @form(action = routes.HomeController.changeProperty, 'class -> "form-signin") {
                <h2 class="form-signin-heading">ユーザ情報の変更</h2>
                @html5.tags.html.text(propertyForm("userName"), 'id -> "inputUserId",
                    'class -> "form-control", 'required -> true,
                    'autofocus -> true, '_showConstraints -> false, '_label -> "UserName")
                @html5.tags.html.textarea(propertyForm("biography"), 'id -> "inputPassword",
                    'class -> "form-control",
                    '_showConstraints -> false, '_label -> "Biography")
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                @CSRF.formField
            }

            @if(propertyForm.hasGlobalErrors) {
                <div class="error">
                @for(error <- propertyForm.globalErrors) {
                    <p>@Messages(error.messages, error.arguments.toArray: _*)</p>
                }
                </div>
            }


        </div> <!-- /container -->

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/signin.css")" rel="stylesheet">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
        <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    </body>
</html>

