@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@import helper._

@(tweets: List[Tweet], tweetForm: Form[Tweet], userName: String, content: String)
<div class="page-header" id="banner">
    <div class="row">
        <h1></h1> <h3></h3>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="well well-sm well-lg">
                <h3>@userName</h3>
                @content
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="row">
                @form(action = routes.HomeController.tweet) {
                    @textarea(tweetForm("content"), 'class -> "form-control",
                        'placeholder -> "what's up, brother?",
                        '_showConstraints -> false, '_label -> null)
                    <button class="btn btn-primary pull-right">Tweet</button>
                    @CSRF.formField
                }

                @if(tweetForm.hasGlobalErrors) {
                    <p class="error">
                    @for(error <- tweetForm.globalErrors) {
                        <p>@Messages(error.messages, error.arguments.toArray: _*)</p>
                    }
                    </p>
                }
            </div>
            <div class="row">
                <ul class="list-group top-buffer">

                @for(tweet <- tweets) {
                    <li class="list-group-item">@tweet.content</li>
                }
                </ul>
            </div>

        </div>
    </div>
</div>






