@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
<div class="page-header" id="banner">
    <div class="row">
        <h1></h1> <h3></h3>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="well well-sm well-lg">
                <h3>Yousei</h3>
                heiheihei~~^
            </div>
        </div>
        <ul class="list-group col-lg-9 col-md-9 col-sm-8">
            <li class="list-group-item">unko</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>







