@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@import helper._

@(tweets: List[Tweet], tweetForm: Form[Tweet], userData: User, recomUsers:List[User])
<div class="page-header" id="banner">
    <div class="row">
        <h1></h1> <h3></h3>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="well well-sm well-lg">
                <img src="@routes.HomeController.getUserIcon" class="img-rounded" width="50" height="50">
                <h3>@userData.getUser_name</h3>
                @userData.getBiography
            </div>
            @if(recomUsers!=null){
                <div class="well well-sm well-lg">
                    <h3>おすすめユーザー</h3>
                    @for(user<-recomUsers){
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <img src="/usericon/@user.getUser_id" class="img-rounded" width="50">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="row">@user.getUser_name</div>
                                <div class="row">
                                    <form method="post" action="/follow/@user.getUser_id">
                                        <button type="submit" class="btn btn-primary-outline">
                                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                            <small><small><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></small></small>フォローする
                                        </button>
                                        @CSRF.formField
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                    @if(recomUsers.size()==0){
                        <h4>いません。。。</h4>
                    }
                </div>
            }
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="row">
                @form(action = routes.HomeController.tweet) {
                    @textarea(tweetForm("content"), 'class -> "form-control",
                        'placeholder -> "what's up, brother?",
                        '_showConstraints -> false, '_label -> null)
                    <button class="btn btn-primary pull-right" id="tweet-button">Tweet</button>
                    @CSRF.formField
                }

                @if(tweetForm.hasGlobalErrors) {
                    <div class="error">
                    @for(error <- tweetForm.globalErrors) {
                        <p>@Messages(error.messages, error.arguments.toArray: _*)</p>
                    }
                    </div>
                }
            </div>
            <div class="row">
                <ul class="list-group top-buffer">
                    @for(tweet <- tweets) {
                        <li class="list-group-item">@tweet.content</li>
                    }
                </ul>
            </div>

        </div>
    </div>
</div>






